# ---------------------------------------------------------
# Task: Data Audit
# ---------------------------------------------------------
# 1. Load the provided CSV file (sales_data.csv)
# 2. Display the first few rows of the dataset
# 3. Print all column names and their data types
# 4. Identify columns with spaces or special characters 
#    (e.g., Engine Size (L))
# 5. Suggest sanitized column names by replacing spaces 
#    or special characters with underscores (_)
# ---------------------------------------------------------

**Importing libraries**

In [12]:
import pandas as pd
import re

**Loading csv**

In [13]:
df=pd.read_csv('BMW sales data (2010-2024) (1).csv')

**Diplaying first few rows of the dataset**

In [17]:
print('Few rows of the dataset:')
df.head(10)

Few rows of the dataset:

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
5,5 Series,2017,Middle East,Silver,Diesel,Manual,1.9,171362,42926,1232,Low
6,i8,2022,Europe,White,Diesel,Manual,1.8,196741,55064,7949,High
7,M5,2014,Asia,Black,Diesel,Automatic,1.6,121156,102778,632,Low
8,X3,2016,South America,White,Diesel,Automatic,1.7,48073,116482,8944,High
9,i8,2019,Europe,White,Electric,Manual,3.0,35700,96257,4411,Low

**Column names and data types**

In [ ]:
print('Column names and data types:')
print(df.dtypes)

Column names and data types
Model                    object
Year                      int64
Region                   object
Color                    object
Fuel_Type                object
Transmission             object
Engine_Size_L           float64
Mileage_KM                int64
Price_USD                 int64
Sales_Volume              int64
Sales_Classification     object
dtype: object

**Identify columns needing sanitation**

In [23]:
columns_to_fix = [col for col in df.columns if not re.match(r'^[A-Za-z0-9_]+$', col)]
print("\nColumns needing sanitation:", columns_to_fix)

Columns needing sanitation: []

**Suggest sanitized names**

In [27]:
suggested_names = {col: re.sub(r'\W+', '_', col.strip()) for col in columns_to_fix}
print("\nSuggested sanitized names:", suggested_names)

Suggested sanitized names: {}